.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none !important;
}

.title {
  text-align: center;
}

.overflow-auto {
  overflow-y: auto !important;
}

.text-bold {
  font-weight: bolder;
}
