.container-addPictogram {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  background: none !important;
}

.title {
  text-align: center;
}

.overflow-auto {
  overflow-y: auto !important;
}

.text-bold {
  font-weight: bolder;
}

.pl-5 {
  padding-left: 5px;
}

.avatars {
  margin: auto !important;
}

.margin-auto {
  margin: auto;
}

.max-width-150 {
  max-width: 150px !important;
}
