form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.overlayButton {
  --border-color: white;
  --color: white
}

.formButton {
  --background: #067499;
}

.inputMargin {
  margin-bottom: 10px;
}

.icon {
  color: #067499;
  padding: 0px 10px 0 10px;
}

.iconsContainer {
  margin: 15px;
}

.slides {
  height: 100%;
}