form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

img {
  height: 100px !important;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  min-height: 480px;
  width: 100%;
  height: 100%;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 100%;
  z-index: 2;
}

@media (min-width: 600px) {
  .signInContainer {
    width: 50%;
  }
}

.signUpContainer {
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

@media (min-width: 600px) {
  .signUpContainer {
    width: 50%;
  }
}

.container.rightPanelActive .signInContainer {
  transform: translateX(100%);
}

.container.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 0;
    z-index: 5;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background: #067499;
  /* background: -webkit-linear-gradient(to right, #067499, #056889); */
  background: linear-gradient(to right, #067499, #056889);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlayLeft {
  transform: translateX(-20%);
}

.container.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
  transform: translateX(20%);
}
.iconsContainer {
  margin: 15px;
}

.overlayButton {
  --border-color: white;
  --color: white;
}

.formButton {
  --background: #067499;
  margin-top: 10px;
  margin-bottom: 15px;
}

.inputMargin {
  margin-bottom: 10px;
}

.icon {
  color: #067499;
  padding: 0px 10px 0 10px;
  display: inline-flex !important;
}

.slides {
  height: 100%;
}

.modalBody {
  padding: 5px;
}

.title {
  text-align: center;
}

.itemTitle {
  font-weight: bold !important;
}

.doctorData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
